include RELEASE-VERSION
include version.py
include setup.py
include paver-minilib.zip
recursive-include microdrop_conda_constructor *
recursive-exclude microdrop_conda_constructor *.pyc
recursive-exclude microdrop_conda_constructor *~
